*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;  
    font-size: 48px;
    text-align: center;
    position: relative;
}

img{
    z-index: 1;
    top: 50px;
}

.wrapper{
    display: inline-block;
    width:1000px;
    top: 170px;
    left: 15%;
    box-shadow: 0px 10px 50px rgba(0,0,0,0.3);
}

.player-panel{
    width: 50%;
    height: 600px;
    float: left;
    text-align: center;
}

.player-title{
    padding: 20px 20px;
}

.player-score{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    color: black;
    padding: 20px 20px;
}

#player-0{
    background-color:  #0fbfbf;
}

#player-1{
    background-color:#0fbfbf;
}

.card{
    height: 220px;
    width: 150px;
    display: inline-block; 
}


.btn{
    margin: 0px 60px 30px 60px;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(226, 193, 150); 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover{
    background-color: #0077ff;
}
li {
    list-style-type: square;
    font-size: small;
    display: block;
}
p {
    text-transform: uppercase;
    font-size: medium;
}
